*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0%;
    overflow: hidden;
    scroll-behavior: smooth;
    color: aliceblue;
}

.main_contain {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divider {
    height: 100vh;
}
div > .left {
    background-image: url('./pexels-jonathan-borba-14269507.jpg');
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
   
}

div > .right {
    background-color: rgb(34, 11, 11);
    display: flex;
    justify-content: center;
    align-content: center;
   
}
h3{
    font-size: 3rem;
}

input{
    padding: 5px;
    width: 300px;
    margin-bottom: 20px;
    border-color: aliceblue;
    border: 1px solid white;
  
}
span{
    color:rgb(202, 128, 128);
}
.header {
    padding-top: 30px;
    margin-bottom: 20px;
}
form{
    width: 600px;
  
}
.input_field{
    display: flex;
    justify-content:center;
    align-items:baseline;

}
label{
    width: 150px;
    color: #f4f4f4;
}
.btn{
    background-color: rgb(20, 1, 1);
    color: #f4f4f4;
}
.btn:hover{
    background-color: #350101c3;
}
